* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Bar */

a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    ;
}

ul li:nth-child(1),
ul li:nth-child(2) {
    font-size: 18px;
    margin: 20px 15px;
}

ul li:nth-child(3),
ul li:nth-child(4) {
    margin: 15px 20px 0 10px;
}

/* Google Logo */


.logo-search {
    position: relative;
}

#logo {
    margin:0 auto ;
    display: block;
    position: relative;
    top: 130px;
    right: 35px;
}

.search-container {
    position: relative;
    margin-top: 50px;
}

.search-container input {
    display: block;
    margin: auto;
    position: relative;
    top: 100px;

}

.search-container img {
    display: block;
    /* margin: auto; */
    position: absolute;
    top: 115px;
    z-index: 1;
    right: 29%;
    /* top: 100%; */
    
}

input[type=text] {
    width: 45%;
    border: 3px solid rgba(128, 128, 128, 0.315);
    border-radius: 40px;
    padding: 15px;
    font-size: 20px;
    outline-width: 0;
}

.search-container input[type=text] {
    padding-left: 60px;
}

#search {
    display: block;
    position: absolute;
    /* border: red 5px solid; */
    left: 29%;
    top: 118px;
}